<!-- UID 通知エラー -->
<html>
<head>
<title>$CON:title$</title>
$INC:nocache$
</head>
<body $STY:attr-body$>

$DOM:a$
$INC:header:title=EZ番号通知エラー$
$INC:small$
EZ番号通知がOFFになっているため、当サイトをご利用になれません。<br>
※詳しい設定方法はお手持ちの端末取り扱い説明書をご確認ください。<br>
$INC:/small$
$/DOM$

$DOM:d$
$INC:header:title=iモードID通知エラー$
$INC:small$
iモードID通知がOFFになっているため、当サイトをご利用になれません。<br>
※詳しい設定方法はお手持ちの端末取り扱い説明書をご確認ください。<br>
$INC:/small$
$/DOM$

$DOM:v$
$INC:header:title=ユーザID通知エラー$
$INC:small$
ユーザID通知がOFFになっているため、当サイトをご利用になれません。<br>
※詳しい設定方法はお手持ちの端末取り扱い説明書をご確認ください。<br>
$INC:/small$
$/DOM$

</body>
</html>
